//////////////////////////////////////////////////////////
// COLOR DEFAULTS ////////////////////////////////////////
//////////////////////////////////////////////////////////
$dark: #566473;
$darker: #495563;
$darkest: #3f4955;
$highlight-color: #2ecc71;