//////////////////////////////////////////////////////////
// BUILD TYPES (don't edit this!)  ///////////////////////
//////////////////////////////////////////////////////////
// Purpose of this file is to set global flags for which
// types we'll include in our final css build or not.
$uni-panel-build-flat: false;
$uni-panel-build-rounded: false;
$uni-panel-build-glow: false;
$uni-panel-build-circle: false;
$uni-panel-build-square: false;

@each $type in $uni-panel-types {
    @if $type == 'rounded' {
        $uni-panel-build-rounded: true;
    }
    @else if $type == 'flat' {
        $uni-panel-build-flat: true;
    }
    @else if $type == 'glow' {
        $uni-panel-build-glow: true;
    }
    @else if $type == 'circle' {
        $uni-panel-build-circle: true;
    }
    @else if $type == 'square' {
        $uni-panel-build-square: true;
    }
}
//@debug "$build-glow is #{$build-glow}";
